.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.left {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
  color: black;

  h2 {
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
  }
}

.right {
  flex: 2;
  padding: 1rem;
}

.forecastTitle {
  display: flex;
  margin: 2rem 0;

  label {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    justify-self: left;
  }
}

.forecastSection {
  display: flex;
  flex-wrap: wrap;

  * {
    flex: 1 1 10rem;
  }
}

li {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

li:hover {
  background-color: #c9d3ff;
}

.searchResult {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .resultCity {
    font-weight: bold;
  }

  .resultTime {
    font-weight: normal;
  }

  .removeButton {
    padding: 10px;
    background-color: #5372f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    &:hover {
      background-color: #4157d0;
    }
  }
}